@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
}
.auth { 
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #FF70A6, #FF9770, #FFD670, #E9FF70);
  display: flex;
  justify-content: center;
  align-content: center;
}
.authcontainer {
  align-self: center;
  height: 400px;
  width: 500px;
  padding: 40px;
  box-shadow: 2px 2px 4px 2px black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.helo{
  font-size: 80px;
  margin: 4px;
}
.loggywords {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loggywords input {
  margin-left: 20px;
}
.input-button {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  height: 30px;
  color: white;
  background-color: darkslategray;
}
.topnav {
  width: 10vw;
  height: 100vh;
  background-image: linear-gradient(to top, #FF70A6, #FF9770, #FFD670);
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 70%;
  margin-top: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.username {
  color: white;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbutton {
  align-self: center;
  justify-self: center;
  width: 50%;
  margin: 25px;
}
.logout {
  align-self: center;
  justify-self: center;
  width: 50%;
  margin: 25px;
}
.botnav {
  margin-top: 300px;
}
